<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Review: The Design of Everyday Things</title>
    <link rel="stylesheet" href="../css/detail.css">
    <script type="module" src="../js/detail.js" defer></script>
</head>
<body>
    <div class="container">
        <div class="book-review">
            <div class="header">
                <button class="icon-button" aria-label="Go back">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m15 18-6-6 6-6"/></svg>
                </button>
                <div class="right-icons">
                    <button class="icon-button" aria-label="Change view">
                        <img src="../storage/img/edit_button.svg" alt="">
                    </button>

                </div>
            </div>
            <h1>Book Review : The Design of Everyday Things by Don Norman</h1>
            <div class="content">
                <p>The Design of Everyday Things is required reading for anyone who is interested in the user experience. I personally like to reread it every year or two.</p>
                <p>Norman is aware of the durability of his work and the applicability of his principles to multiple disciplines.</p>
                <p class="quote">If you know the basics of design better than anyone else, you can apply them flawlessly anywhere.</p>
            </div>
        </div>
    </div>

</body>
</html>